/*
* CSS injected onto the page
*/

body{
}

.reblog{
}

.reblog-from-source{
	background-image: url('/images/reblogsrc.png');
	width: 23px;
	height: 25px;

}

/*
* If you want a text link, you need to change this to some font size other than 0.
*/
.post_controls .post_controls_inner {
	/*font-size: 1em;*/
}